<div class="skills-container">
    <h3>Skills </h3>
    <div class="skill">
      <span>Thinking through first principles</span>
      <div class="bar">
        <div class="progress" style="width: 90%;"></div>
      </div>
    </div>
    <div class="skill">
      <span>Micromanaging</span>
      <div class="bar">
        <div class="progress" style="width: 50%;"></div>
      </div>
    </div>
    <div class="skill">
      <span>Goal oriented</span>
      <div class="bar">
        <div class="progress" style="width: 80%;"></div>
      </div>
    </div>
    <div class="skill">
      <span>Future focused</span>
      <div class="bar">
        <div class="progress" style="width: 70%;"></div>
      </div>
    </div>
    <div class="skill">
      <span>Critical thinking</span>
      <div class="bar">
        <div class="progress" style="width: 60%;"></div>
      </div>
    </div>
    <div class="skill">
      <span>Resiliency</span>
      <div class="bar">
        <div class="progress" style="width: 85%;"></div>
      </div>
    </div>
    <div class="skill">
      <span>Verbal and written communication</span>
      <div class="bar">
        <div class="progress" style="width: 75%;"></div>
      </div>
    </div>
    <div class="skill">
      <span>Leadership</span>
      <div class="bar">
        <div class="progress" style="width: 95%;"></div>
      </div>
    </div>
    <div class="skill">
      <span>Creativity</span>
      <div class="bar">
        <div class="progress" style="width: 90%;"></div>
      </div>
    </div>
    <div class="skill">
      <span>Time Management</span>
      <div class="bar">
        <div class="progress" style="width: 85%;"></div>
      </div>
    </div>
  </div>
  
