/* Estilo para la imagen circular */
.circular-image {
    border-radius: 50%;
    width: 100px; /* Ajusta el tamaño si es necesario */
    height: 100px; /* Ajusta el tamaño si es necesario */
    object-fit: cover; /* Asegura que la imagen cubra el área del contenedor */
}

/* Estilo general del cuerpo */
body {
    background-color: #0a0f25; /* Oscuro espacial, mantenido para contraste */
    color: #e0e0e0; /* Texto claro para contraste */
    font-family: 'Roboto', sans-serif; /* Fuente moderna y limpia */
    margin: 0;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para el título de la sección "Education" */
h3 {
    font-family: 'Orbitron', sans-serif; /* Fuente futurista */
    color: #ff66b3; /* Rosa brillante */
    text-transform: uppercase;
    letter-spacing: 0.5px; /* Espaciado entre letras más reducido */
    margin-bottom: 20px;
    font-size: 1.8em;
}

/* Tabla central */
table {
    width: 90%;
    max-width: 1000px;
    border-collapse: collapse;
    background-color: #163824; /* Verde oscuro para contraste */
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); /* Sombra sutil */
    padding: 20px;
}

/* Estilo para las celdas de la tabla */
td {
    padding: 20px;
    vertical-align: middle;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif; /* Fuente del contenido */
}

/* Estilo para el texto dentro de los elementos <li> */
ul li {
    font-size: 1em;
    margin: 10px 0;
    color: #e0e0e0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; /* Mantener la fuente moderna y limpia */
}

/* Añadir líneas futuristas debajo del texto */
ul li:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ff66b3; /* Rosa brillante */
    margin-bottom: 4px;
    opacity: 0.4;
}

/* Estilo del hover en la lista */
ul li:hover {
    color: #66ff99; /* Verde brillante */
    cursor: pointer;
}

/* Media Queries para responsive */
@media (max-width: 768px) {
    table {
        width: 100%;
    }

    td {
        display: block;
        text-align: center;
    }

    .circular-image {
        margin: 20px auto;
    }
}

